<!DOCTYPE html>
<html>
    <head>
{% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="refresh" content="300">
        <title>{% block title %}FIXME: Add a title block to your template{% endblock %}</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="/static/css/photoswipe.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/klass.min.js"></script>
	<script type="text/javascript" src="/static/js/code.photoswipe.jquery-3.0.4.min.js"></script>
	<meta name="google-site-verification" content="QEsm_SiCMCOrS5YJhpQouszOCWldMZXzTTuVHICdIbw" />	
{% endblock %}
    </head>
    <body>
{% block body %}FIXME: Add a content block to your template{% endblock %}

<script type="text/javascript">
	(function(window, $, PhotoSwipe){
		$(document).ready(function(){
			$('div.slideshow-page')
				.live('pageshow', function(e){
					var options = {
						autoStartSlideshow: true, slideshowDelay: 500, slideSpeed: 1,
						getImageSource: function(obj){
							return obj.url;
						},
						getImageCaption: function(obj){
							return obj.caption;
						}
					},
					instance = PhotoSwipe.attach( 
						[{% for img in latest_images %}
							{url: '{{ img.pth }}', caption: '{{ img.caption }}'},{% endfor %}
						], 
						options 
					);
					instance.show(0);
				})
				.live('pagehide', function(e){
					var currentPage = $(e.target),
					    photoSwipeInstance = PhotoSwipe.getInstance(currentPage.attr('id'));
					if (typeof photoSwipeInstance != "undefined" && photoSwipeInstance != null) {
						PhotoSwipe.detatch(photoSwipeInstance);
					}
					return true;
				});
		});
	}(window, window.jQuery, window.Code.PhotoSwipe));


	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-30591692-1']);
	_gaq.push(['_setDomainName', 'ericwalstad.net']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>

    </body>
</html>
