{% extends "base.html" %}
{% block title %}RRR Weather info{% endblock %}
{% block body %}
    <div id="page1" data-role="page">
	<header data-theme="a" data-role="header"><h3>{{ header_text }}</h3></header>
	<div data-role="content">
            <div data-role="collapsible-set" data-theme="" data-content-theme="">
                <div data-role="collapsible" data-collapsed="false">
                    <h3>Latest image</h3>
		    <div><a href="#animated"><img style="width: 288px;" src="/{{ latest_image }}" /></a></div>
		    <div>{{ latest_image_datetime.strftime('%Y-%m-%d %H:%M') }}</div>
                </div>
                <div data-role="collapsible" data-collapsed="true">
                    <h3>Latest weather summary</h3>
                    <div>
                        <div>{{ wx_data.Timestamp.strftime('%Y-%m-%d %H:%M') or "Weather data not available" }}</div>
                        <div>{{ wx_data.Temp_outdoor }}&deg;F</div>
			<div>{{ wx_data.Rel_pressure }} inHg{% if wx_data.Tendency %}, {{ wx_data.Tendency }}{% endif %}</div>
			{% if  wx_data.Forecast %}<div>Forecast: {{ wx_data.Forecast }}</div>{% endif %}
			<div>Rain in the last hour: {{ wx_data.Rain_1h }}"</div
			<div>Rain in the last 24 hours: {{ wx_data.Rain_24h }}"</div>
			<div>Rain Total: {{ wx_data.Rain_total }}"</div>
                    </div>
                </div>
            </div>
	</div>
	<div data-role="footer">
	        <h4>&copy; 2012 Eric Walstad</h4>
	</div>
    </div>
<!---------------------------------------------------------------------------->


    <div id="animated" data-role="page" class="slideshow-page" data-add-back-btn="true">
        
	<header data-theme="a" data-role="header"><h3>{{ header_text }}</h3></header>
	<div data-role="content">
	</div>
	<div data-role="footer">
		<h4>&copy; 2012 Eric Walstad</h4>
	</div>
    </div>
{% endblock %}

